.card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 5px rgb(189, 189, 189);
    border-radius: 3px;
    
}

.card button{
    all:unset;
    padding: .5em 1.3em;
    background-color: rgb(73, 73, 73);
    color: white;
    width: max-content;
}